.footer {
	display: none;
}

.post-content li {
	margin-top: 15px;
}

li::marker {
	font-weight: bold;
}

.entry-cover img {
	max-height: 150px;
        object-fit: cover;
}

.post-single .entry-cover {
	display: none;
}

.home-info {
	margin: 0;
}
